<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Added Media</title>
</head>
<body>

<div id="menu">
	<nav>
	<ul>
		<li><a href="/mediasearch">Media Search</a></li>
		<li><a href="/addedmedia">Added Media</a></li>
	</ul>
	</nav>

<h2>Added Media</h2>
	<table>
	<th>Media</th>
	<th>Title</th>
	<th>Artist/Developer</th>
	<th>Price</th>
	<th>iTunes Link</th>
	<% for(var i=(data.length-1); i>=0; i--) { %>
		<tr>
		<td><%=data[i].media%></td>
		<td><%=data[i].song%></td>
		<td><%=data[i].artist%></td>
		<td><%=data[i].price%></td>
		<td><a href="<%= data[i].buyinfo %>" id="ilink" target="_blank">View in iTunes</a></td>
		</tr>
	<% } %>
</table>

</body>
		<script
  		src="http://code.jquery.com/jquery-3.1.1.min.js"
  		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  		crossorigin="anonymous"></script>
		<script src="script.js"></script>
</html>